body {
    background-color: #0f0f0f;
  }
  
.header {
  width: 100%;
  height: 66px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
.headerpart1 {
  max-width: 16%;
  flex: 16%;
  text-align: right;
  padding: 5px;
}

.headerpart2 {
  max-width: 55%;
  flex: 55%;
  text-align: right;
  padding: 5px;
}
  
.headerpart3 {
  max-width: 14%;
  flex: 14%;
  text-align: right;
  padding: 5px;
}

.profile {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 5px;
}
  
.search {
  width: 90%;
  border-radius: 10px;
  margin-top: 12px;
  padding: 5px;
}

.youtublogo {
  width: 33%;
  border-radius: 5px;
  align-self: left;
  float: left;
  text-align: center;
  margin-top: 10px;
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  max-width: 33%;
  flex: 33%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
  
.videoPart {
  max-width: 66%;
  flex: 66%;
}

.playlistwrpper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
.playlistwrpper iframe {
  width: 100% !important;
  height: 77%;
  border: none;
}

.videoPart iframe { 
  width: 100% !important;
  border: none;
}
  
.videoTitle {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.playlist {
  max-width: 60%;
}
  
.playlistTiltle {
  max-width: 39%;
  color: #fff;
  margin-top: 20px;
  padding: 5px;
}

@media only screen and (max-width: 920px) {
    .sidebar {
      max-width: 96%;
      flex: 96%;
      padding: 2px;
    }
  
    .videoPart {
      max-width: 98%;
      flex: 98%;
      margin: 0 auto;
    }
  
    .profile {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      margin: 5px;
    }
  
    .search {
      width: 60%;
      border-radius: 10px;
      margin-top: 12px;
      padding: 5px;
    }
  
    .youtublogo {
      width: 100% !important;
      margin-top: 15px;
    }
  
    .playlist {
      max-width: 46%;
    }
  
    .playlist iframe {
      max-width: 98%;
    }
  
    .playlistTiltle {
      max-width: 46%;
      color: #fff;
      margin-top: 20px;
      padding: 5px;
    }
}
  
.subscribBtn {
  border-radius: 20px;
  margin-top: -15px;
}
  